<h1 class="govuk-heading-l">Editing item</h1>

<%= render "items/forms/#{@form.template}", form: @form %>

<div>
  <%= govuk_link_to "Show this item", @item %> |
  <%= govuk_link_to "Back to items", items_path %>
</div>
